<app-spinner *ngIf="isLoading"></app-spinner>
<div class="container">
  <div class="container-form">
    <div class="header-form">
      <h2>{{title}}</h2>
    </div>

    <div class="container-boddy">
      <form [formGroup]="createItemGroup" autocomplete="off" class="boddy-form">
        <div class="center">
          <div appearance="fill" class="content">
            <label position="floating">ID</label>
            <input type="text" class="form-input" matInput placeholder="id" formControlName="id">
            <p class="form-alert" error *ngIf="createItemGroup.get('id')?.hasError('required')">
              ID es requerido.
            </p>
            <p class="form-alert" error *ngIf="createItemGroup.get('id')?.hasError('minlength')">
              ID debe tener al menos 3 caracteres.
            </p>
            <p class="form-alert" error *ngIf="createItemGroup.get('id')?.hasError('maxlength')">
              ID no puede tener más de 10 caracteres.
            </p>
            <p class="form-alert" error
              *ngIf="createItemGroup.get('id')?.invalid && !createItemGroup.get('id')?.hasError('required') && !createItemGroup.get('id')?.hasError('minlength') && !createItemGroup.get('id')?.hasError('maxlength')">
              ID no válido.
            </p>
          </div>

          <div appearance="fill" class="content">
            <label position="floating">NOMBRE COMPLETO*</label>
            <input type="text" class="form-input" matInput placeholder="Nombre" formControlName="name">
            <p class="form-alert" error *ngIf="createItemGroup.get('name')?.hasError('required')">
              Este campo es requerido.
            </p>
            <p class="form-alert" error *ngIf="createItemGroup.get('name')?.hasError('minlength')">
              Nombre debe tener al menos 5 caracteres (excluyendo espacios).
            </p>
            <p class="form-alert" error *ngIf="createItemGroup.get('name')?.hasError('maxlength')">
              Nombre no puede tener más de 10 caracteres (excluyendo espacios).
            </p>
            <p class="form-alert" error *ngIf="createItemGroup.get('name')?.hasError('whitespace')">
              El nombre no puede contener solo espacios.
            </p>
          </div>
        </div>

        <div class="center">
          <div appearance="fill" class="content">
            <label position="floating">DESCRIPCIÓN</label>
            <input type="text" class="form-input" matInput placeholder="Descripción" formControlName="description">
            <p class="form-alert" error *ngIf="createItemGroup.get('description')?.hasError('required')">
              Este campo es requerido.
            </p>
            <p class="form-alert" error *ngIf="createItemGroup.get('description')?.hasError('minlength')">
              Descripción debe tener al menos 10 caracteres.
            </p>
            <p class="form-alert" error *ngIf="createItemGroup.get('description')?.hasError('maxlength')">
              Descripción no puede tener más de 200 caracteres.
            </p>
          </div>

          <div appearance="fill" class="content">
            <label position="floating">LOGO</label>
            <input type="text" class="form-input" matInput placeholder="URL del logo" formControlName="logo">
            <p class="form-alert" error *ngIf="createItemGroup.get('logo')?.hasError('required')">
              Este campo es requerido.
            </p>
          </div>
        </div>

        <div class="center">
          <div appearance="fill" class="content">
            <label position="floating">FECHA DE LIBERACIÓN</label>
            <input type="date" class="form-input" matInput formControlName="date_release">
            <p class="form-alert" error *ngIf="createItemGroup.get('date_release')?.hasError('required')">
              Este campo es requerido.
            </p>
            <p class="form-alert" error *ngIf="createItemGroup.get('date_release')?.hasError('invalidDate')">
              La fecha debe ser igual o posterior a hoy.
            </p>
          </div>

          <div appearance="fill" class="content">
            <label position="floating">FECHA DE REESTRUCTURACIÓN</label>
            <input type="date" class="form-input" matInput formControlName="date_revision">
            <p class="form-alert" error *ngIf="createItemGroup.get('date_revision')?.hasError('required')">
              Este campo es requerido.
            </p>
            <p class="form-alert" error
              *ngIf="createItemGroup.get('date_revision')?.hasError('invalidRevisionDate')">
              La fecha de reestructuración debe ser al menos un año después de la fecha de liberación.
            </p>
          </div>
        </div>
      </form>

    </div>

    <div class="footer-form">
      <div>
        <button class="btn" (click)="generateItemGroup()">Reiniciar</button>
      </div>
      <div>
        <button class="btn btn-agregar" [disabled]="createItemGroup.invalid" (click)="createProduct()">{{buttonTitle}}</button>
      </div>
    </div>
  </div>
</div>
<app-toast *ngIf="toastVisible" [toastData]="toastData"></app-toast>