// tabla:
.table-container {
  overflow: auto;
  max-height: 400px;
  max-width: 100%;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.product-table th {
  background-color: #f4f4f4;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo-img {
  max-width: 50px;
  max-height: 50px;
}

.paginator {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}


.paginator select {
  padding: 4px;
}

.container-actions{
  display: flex;
  justify-content: space-between;
}